{% extends 'base.html.twig' %}

{% block title %}Modifier votre commentaire{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Modifier votre commentaire</h1>
        
        <div class="card p-4">
            {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_label(form.contenu, 'Votre commentaire') }}
                    {{ form_widget(form.contenu, {'attr': {'class': 'form-control', 'rows': 5}}) }}
                </div>
                <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ commentaire.id) }}">
                <button type="submit" class="btn btn-success">Enregistrer</button>
                <a href="{{ path('article_show', {'id': commentaire.article.id}) }}" class="btn btn-secondary">Annuler</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
